* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #2C3E50;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  overflow-x: hidden;
  height: 100vh;
}

header {
  position: absolute;
  right: 0;
  height: 0;
}

.account {
  margin: 20px 260px;
}
.account img {
  z-index: 1000;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.account p {
  float: right;
  color: #FFF;
  margin: 7px -160px;
  font-size: 15px;
}

.account-box:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #1f2c39;
  margin: -7px 34px;
  float: right;
}

.account-box {
  z-index: 100000;
  background: #1f2c39;
  border-radius: 3px;
  width: 60%;
  height: 200px;
  border: none;
  margin: 50px 115px;
  position: absolute;
}
.account-box h3 {
  background-color: #263238;
  text-align: center;
  color: #FFF;
  padding: 20px;
  font-weight: 300;
  border-bottom: 1px solid #233140;
}
.account-box li {
  font-size: 15px;
  list-style: none;
  padding: 15px;
  width: 38.8%;
  float: left;
  transition: all ease 0.4s;
}

.account-box li:hover {
  background: #233140;
}

.account-box a {
  text-decoration: none;
  color: #FFF;
}

aside {
  background: #283949;
  width: 20%;
  height: 100vh;
  position: fixed;
  overflow-y: visible !important;
}
aside h1 {
  font-family: 'Anton', sans-serif;
  color: #FFF;
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-family: 'Bree Serif', serif;
}
aside ul {
  margin: 40px 0;
}
aside li {
  list-style: none;
  padding: 14px;
  transition: all ease 0.4s;
}
aside li.active {
  background: #1a252f;
}
aside li:hover {
  background: #1a252f;
}
aside a {
  color: #FFF;
  text-decoration: none;
  font-size: 15.5px;
  padding-left: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.notification {
  background: #2980B9;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  color: #FFF;
  font-weight: 400;
  float: right;
  margin-top: -2px;
  margin-right: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}

.dashboard {
  background: #2C3E50;
  width: 80%;
  height: 100vh;
  float: right;
}

canvas {
  margin: -50px -5px;
  width: 101% !important;
}

.row {
  width: 100%;
  margin-top: 41px;
}
.row p {
  float: left;
  margin: -110px 150px;
  color: #FFF;
  font-weight: 400;
  width: 60%;
  font-size: 14px;
  font-size: 0.875rem;
}

.profits {
  background: #283949;
  width: 50%;
  height: auto;
  float: left;
}

.expenses {
  background: #233140;
  width: 50%;
  height: auto;
  float: right;
}

.info {
  padding: 25px;
}

.circle {
  width: 100px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 10px solid #273646;
  color: #FFF;
}

.c-profits {
  background: transparent;
  border-top-color: #2980B9;
  border-right-color: #2980B9;
  border-bottom-color: #2980B9;
}

.c-expenses {
  background: transparent;
  border-top-color: #9B59B6;
  border-right-color: #9B59B6;
}

.fa {
  color: #FFF;
  padding-left: 2px;
  font-size: 14px !important;
}

.fas {
  color: #FFF;
  padding-right: 10px;
  font-size: 12.5px !important;
  font-size: 0.78125rem;

  float: right;
  margin: 30px 20px;
  visibility: hidden;
  font-size: 20px !important;
  font-size: 1.25rem;
}

.fa.fa-caret-down {
  margin: 0 10px;
  font-size: 18px !important;
}

.fa.fa-bars {
  float: right;
  margin: 30px 20px;
  visibility: hidden;
  font-size: 20px !important;
  font-size: 1.25rem;
}

@media screen and (max-width: 1100px) {
  aside {
    visibility: hidden;
  }

  .profits, .expenses {
    width: 100%;
  }

  .dashboard {
    width: 100%;
    margin-top: 50px;
  }

  .account {
    visibility: hidden;
  }

  .menu {
    width: 100vw;
    height: 100vh;
    background: #2C3E50;
    margin: 0 0;
    padding-bottom: 60px;
  }
  .menu ul {
    margin: -50px 30px;
    text-align: left;
  }
  .menu li {
    list-style: none;
    padding: 20px 0;
    margin: 0 0;
  }
  .menu a {
    text-decoration: none;
    color: #FFF;
  }
  .menu p {
    background: #253443;
    padding: 20px;
    color: #FFF;
    text-align: center;
    margin: 90px 0;
    font-weight: 700;
  }

  .fa.fa-bars {
    visibility: visible;
  }
}



/**************************/


.container input {
  border-radius: 0px;
  border-color: #2C3E50;
  background-color: rgb(31, 31, 31);
  color: white;
}

.container .btn-dark {
  background: #1A252F;
}

.container .btn-dark:hover {
  background: black;
}

/*******************************/


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin-top: 100px;
  margin-left: 40px;
  max-width: 90%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

table .btn-dark {
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background: #1A252F;
  width: 70px;
  height: 40px;
}

table .btn-dark:hover {
  background: black;
}

table a {
  color: white;
  font-size: 15px;
}


.users input, .users select {
  border-radius: 0px;
  border-color: #2C3E50;
  background-color: rgb(31, 31, 31);
  color: white;
}

.users input:hover {
  background: #1A252F;
}

.users .btn-dark {
  background: #1A252F;
}

.users .btn-dark:hover {
  background: black;
}


.jumbotron {
  background: rgb(28, 38, 49);
  color: white;
  margin: 100px;
  border-radius: 5px;
}


.pagination > li > a {
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.jumbotron .container h2 a {
  color: rgb(255, 255, 255);
}



a {
  text-decoration: none !important;
}

.card {
  background: rgb(28, 38, 49);
  color: white;
  position: relative;
  top: 10%;
  margin-bottom: 150px;
  left: 25%;
}

.card .style {
  background: rgb(43, 43, 43);
  border: none;
  border-radius: 50px;
}

.card .style:hover {
  background: rgb(197, 197, 197);
}

.commentDiv {
  position: relative;
  left: 15%;
}





